# Compilation Files
/target/
*.class
/*.jar


# IDE configuration files
.idea/
.vscode/

# Secrets and Variables
.env
*.pem

# Ignore IntelliJ modules
*.iml
out/

# Don’t commit your certificates or keystores
certs/
*.jks